*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 40px;
}

h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

main{
    display: flex;
    justify-content: center;
}

img{
    margin-top: -700px;
    margin-left: 220px;
    
}